.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#classrooms {
  padding: 0 48px;
}

.classroom-options {
	display: flex;
	align-items: center;
}

.classroom-options > * {
	padding-right: 50px;
}

.classroom-heading > h1 {
	margin-bottom: 0;
}

.student {
	float: left;
	width: 25%;
	padding-left: 50px;
	border: 1px solid #ccc;
}

.student-name {
	float:left;
	margin: 8px 0;
}

.delete-button {
	float: right;
	margin-top: 2px;
}
