/* Styling for anywhere a room of students is rendered. */

.table {
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: 50px;
	grid-row-gap: 3px;
	margin-left: 50px;
	margin-bottom: 50px;
	min-height: 30px;
	border: 1px dashed black;
	width: 208px;
}

.pair {
	display: grid;
	grid-template-columns: 50% 50%;
}

.student {
	border: 1px solid black;
	height: 95%;
	display: grid;
	align-items: center;
}

.student-name {
	text-align: center;
	height: fit-content;
}

.room {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
}
