<html>
<heading>
	<title>Seating</title>
	<link href="/resources/css/all_seating.css" rel="stylesheet" type="text/css">
</heading>
<body>
	{% if not msg == None %}
	<div>
		{{msg}}
	</div>	
	{% endif %}	
	
	{% for sa in seating_arrangements %}
	<section id="room" class="clearfix">
		<h1>Day {{sa.day}}</h1>
		{% for i in range(0, sa.students|length, 6) %}
		{% if i == 24 %}
		<div class="table clearfix" id="backtable">
		{% else %}
		<div class="table clearfix">
		{% endif %}
			{% for j in range(6) %}
			<div class="student">{{ sa.students[i + j].get().name }}</div>
			{% endfor %}
		</div>
		{% endfor %}
	</section>
	{% endfor %}
</body>
</html>