<html>
<heading>
	<title>Seating</title>
	<style>
		.clearfix:after {
			content: "";
			display: block;
			clear: both;
		}
		
		.table {
			float: left;
			margin-left: 50px;
			margin-bottom: 50px;
		}
		
		.student {
			border: 2px solid black;
			float: left;
			width: 100px;
			text-align: center;
			padding: 10px 0px;
		}
	</style>
</heading>
<body>
	{% if not msg == None %}
	<div>
		{{msg}}
	</div>	
	{% endif %}	
	
	{% for sa in seating_arrangements %}
	<section id="room" class="clearfix">
		<h1>Day {{sa.day}}</h1>
		{% for i in range(0, sa.students|length, 6) %}
		{% if i == 24 %}
		<div class="table clearfix" id="backtable">
		{% else %}
		<div class="table clearfix">
		{% endif %}
			{% for j in range(6) %}
			<div class="student">{{ sa.students[i + j].get().name }}</div>
			{% endfor %}
		</div>
		{% endfor %}
	</section>
	{% endfor %}
</body>
</html>