<link href="/resources/css/all_arrangements.css" rel="stylesheet" type="text/css">
<link href="/resources/css/seating_single_room.css" rel="stylesheet" type="text/css">
<section class="page-content">
	{{ nav_bar }}
	{% if not msg == None %}
	<div>
		{{msg}}
	</div>
	{% endif %}

	{% if classrooms|length > 0 %}
		<form method="get" action="/allseating">
			<div class="mdl-textfield mdl-js-textfield getmdl-select">
				<input type="text" value="" class="mdl-textfield__input" id="classroom" readonly>
				<input type="hidden" name="classroom" value="">
				<i class="mdl-icon-toggle__label material-icons">
					keyboard_arrow_down
				</i>
				<label for="classroom" class="mdl-textfield__label">
					Select a class...
				</label>
				<ul for="classroom" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
					{% for classroom_select in classrooms %}
						<li class="mdl-menu__item"
								data-val="{{ classroom_select.key.urlsafe() }}">
								{{ classroom_select.name }}
						</li>
					{% endfor %}
				</ul>
			</div>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
				Go!
			</button>
	  </form>
	{% else %}
		<div>You must create a classroom before you can set up seating!</div>
	{% endif %}

	{% if classroom %}
		<h1>All Seating: {{ classroom.name }}</h1>
		<a href="/classroom?id={{ classroom.key.urlsafe() }}"
		   class="mdl-button mdl-js-button mdl-button--accent">
			 Manage Class
		</a>
		<a href="/seating?classroom={{ classroom.key.urlsafe() }}"
		   class="mdl-button mdl-js-button mdl-button--accent">
			Generate Seating
		</a>
		<div class="all-arrangements">
			{% for sa in seating_arrangements %}
				<div>
					<section class="arrangement-metadata">
						<h2>Day {{sa.day}}</h2>
						<p class="spacer"></p>
						<form action="/deleteseating" method="post">
							<input type="hidden" name="arrangement"
										 value="{{sa.key.urlsafe()}}">
							<button class="mdl-button mdl-js-button mdl-button--primary">
								 Delete Arrangement
							</button>
					  </form>
					</section>

					<section class="room">
						{% set tables = arrangement_key_to_tables.get(sa.key) %}
						{% for table in tables %}
							{% if table.key == tables[-1].key %}
								<div class="table" id="backtable">
							{% else %}
								<div class="table">
							{% endif %}
							{% for i in range(0, table|length, 2) %}
								<div class="pair">
									{% if table[i] %}
										<div class="student">
											<span class="student-name">{{ table[i].name }}</span>
										</div>
									{% else %}
										<div class="student empty"></div>
									{% endif %}
									{% if i + 1 < table|length and table[i + 1] %}
										<div class="student">
											<span class="student-name">{{ table[i + 1].name }}</span>
										</div>
									{% else %}
										<div class="student empty"></div>
									{% endif %}
								</div>
							{% endfor %}
							</div>
						{% endfor %}
					</section>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</section>
