<link href="/resources/css/classroom.css" rel="stylesheet" type="text/css">
<section>
	{% if not msg == None %}
	<div>
		{{msg}}
	</div>
	{% endif %}

  {% if classrooms|length > 0 %}
		<form method="get" action="/classroom">
			<label>Select a Class
				<select name="id">
					<option value=""></option>
					{% for classroom_select in classrooms %}
						<option value="{{ classroom_select.key.urlsafe() }}">
							{{ classroom_select.name }}
						</option>
					{% endfor %}
				</select>
			</label>
			<button>Go!</button>
	  </form>
	{% endif %}

	<form method="post" action="/classroom">
		<h3>Add a new classroom:</h3>
		<label>Name
			<input name="name" type="text">
		</label>
		<button>Create</button>
  </form>

	{% if classroom %}
		<h1>Class {{ classroom.name }}</h1>
		<p id="classroom-id" hidden>{{ classroom.key.urlsafe() }}</p>
		<a href="/seating?classroom={{ classroom.key.urlsafe() }}">
			Generate Seating
		</a>
		<a href="/seating?classroom={{ classroom.key.urlsafe() }}&list=true">
			See All Saved Seating Arrangements
		</a>
		<h2>Students</h2>
		<section class="clearfix" id="students">
			{% if students|length > 0 %}
				{% for student in students %}
					<div class="student clearfix">
						<p class="student-name name">{{ student.name }}</p>
						<p class="student-id" hidden>{{ student.key.urlsafe() }}</p>
						<button class="delete-button">Delete</button>
					</div>
				{% endfor %}
			{% else %}
				<p>No students found!</p>
			{% endif %}
		</section>


		<h3>Add a Student</h3>
		<form>
			<label>Name
				<input id="studentName" type="text">
			</label>
			<button id="addStudent">Submit</button>
		</form>

		<form method="post" action="/classroom">
			<input type="hidden" name="_method" value="delete">
			<input type="hidden" name="id" value="{{ classroom.key.urlsafe() }}">
			<button>Delete classroom {{ classroom.name }}</button>
		</form>
	{% endif %}
	<script src='/resources/scripts/students.js'></script>
	<script>
		document.addEventListener('DOMContentLoaded', Student.main, false);
	</script>
</section>
</html>
