<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/resources/css/material.min.css">
  <link rel="stylesheet" href="/resources/css/getmdl-select.min.css">
  <link rel="stylesheet" href="/resources/css/main.css">
  <script defer src="/resources/scripts/material.min.js"></script>
  <script defer src="/resources/scripts/getmdl-select.min.js"></script>
</head>
<body>
  <nav class="mdl-layout mdl-js-layout mdl-layout--fixed-header">{{ nav }}</nav>
  <main class="mdl-layout__content">{{ main }}</main>
</body>
</html>
