<html>
<heading>
	<title>Seating</title>
	<link href="/resources/css/dragula.min.css" rel="stylesheet" type="text/css">
	<link href="/resources/css/seating.css" rel="stylesheet" type="text/css">
</heading>
<body>
	{% if not msg == None %}
	<div>
		{{msg}}
	</div>	
	{% endif %}
	
	{% if not day == None %}
	<h1 id="day">
		Day {{day}}
	</h1>	
	{% endif %}
	
	<section id="room" class="clearfix">
		<div id="left"></div>
		<div id="right"></div>
	</section>
	{% for i in range(0, students|length, 6) %}
	<div class="table clearfix container" name="{{ i / 6 }}">
		{% for j in range(6) %}
			<div class="student" id="{{ students[i + j].key.urlsafe() }}">
				{{ students[i + j].name }}
			</div>
		{% endfor %}
	</div>
	{% endfor %}
	
	<form method="get" action="">
		<input type="submit" value="Regenerate Seating">
	</form>
	<form method="post" action="">
		<input type="hidden" name="keystring">
		<h4>Save Seating Arrangement</h4>
		<label>Day<input name="day" type="text"></label>
		<input type="submit" value="Save" id="save">
	</form>
	<a href="/student">Manage Students</a>
	<a href="/?list=true">See All Previous Arrangements</a>
	<script src='/resources/scripts/dragula.min.js'></script>
	<script src='/resources/scripts/seating.js'></script>
	<script>
		document.addEventListener('DOMContentLoaded', main, false);
	</script>
</body>
</html>