<html>
<header>
	<title>Students</title>
	<link href="/resources/css/students.css" rel="stylesheet" type="text/css">
</header>
<body>
	{% if not msg == None %}
	<div>
		{{msg}}
	</div>	
	{% endif %}
	
	<a href="/">Home</a>
	<a href="/?list=true">See All Seating Arrangements</a>
	
	<h1>Students</h1>
	{% if students|length > 0 %}
		<section class="clearfix">
		{% for student in students %}
			<form method="post" action="/student">
				<input type="hidden" name="_method" value="delete">
				<div class="student clearfix">
					<p class="name">{{ student.name }}</p>
					<input type="hidden" name="key" value="{{ student.key.urlsafe() }}">
					<input type="submit" value="delete" class="delete-button">
				</div>
			</form>
		{% endfor %}
		</section>
	{% else %}
	<p>No students found!</p>
	{% endif %}
	
	<h3>Add a Student</h3>
	<form method="post" action="/student">
		<label>Name
			<input name="name" type="text">
		</label>
		<input type="submit">
	</form>
</body>
</html>